#map
{   
    height: 720px;
    box-shadow: 0 0 13px 5px #718093;

}
body{
    background: #273c75;
}
#title{
    color: honeydew;
    text-align: center;
    margin: 1.5rem 1.5rem;
}
.configCard
{
    margin: 0 0.5rem 0;
    box-shadow: 0 0 13px 5px #718093;
}